@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: Montserrat;
  box-sizing: border-box;
  color: #333;
}

body {
  font-size: 16px;
}

.card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  padding: 1rem;
  position: relative;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 25vw;
  transform: translate(-50%, -50%);
}

.cardHeader {
  background: #f7c52a;
  padding: 0.75rem 1.5rem;
  border-radius: 2px;
  text-transform: uppercase;
  transform: skewY(-4deg);
  font-size: 1.1rem;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  top: -1rem;
  left: -0.75rem;
}

.cardBody {
  margin-top: 2rem;
}

.inputGroup {
  margin-bottom: 1rem;
}

label {
  font-size: 0.9rem;
}

input {
  border: none;
  padding: 0.5rem 0.1rem;
  width: 100%;
  border-radius: 2px;
  border-bottom: 1px solid #eee;
  transition: all 0.5s;
}

input:focus {
  border-bottom: 1px solid #ccc;
}

button {
  background: #f7c52a;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 2px;
  width: 100%;
  text-transform: uppercase;
}

.chatrooms {
  margin-top: 1rem;
}

.chatroom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.join {
  background: #f7c52a;
  padding: 0.25rem 1rem;
  border-radius: 2px;
}

a {
  text-decoration: none;
  color: #333;
}

.register {
  display: flex;
  margin-left: 50px;
  margin: 5px;
  padding: 5px;
  justify-content: center;

  &-link {
    color: red;
  }
}

.header {
  display: flex;
  margin: 5px;
  padding: 8px;
  width: 100%;
  font-size: 22px;
  background-color: gray;
  color: #ccc;
  align-items: center;
  &-item {
    &-lable {
      color: white;
    }
    &-value {
      color: white;
    }
  }
}

.width-45 {
  width: 45%;
  color: white;
  font-size: 38px;
}

.width-25 {
  width: 20%;
  color: white;
}

.width-20 {
  width: 20%;
  color: white;
}

.width-15 {
  width: 15%;
  color: red;
  font-size: 38px;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5%;

  &-item {
    background-color: rgb(80, 141, 93);
    margin: 10px;
    padding: 20px;
    width: 100%;
    text-align: center;
    border: 10px solid white;
    &-lable {
      margin: 10px;
      padding: 20px;
      font-size: 40px;
      color: white;
    }
  }
}

.footter {
  display: flex;
  align-items: center;
  margin-top: 20%;
  margin-left: 30%;
}
